---
// Fetch all .md files from the pages directory
const posts = await Astro.glob('./*.md');
---

<html>
  <head><title>Ultranetic</title></head>
  <body>
    <h1>My Content</h1>
    <ul>
      {posts.map(post => (
        <li>
          <a href={post.url}>{post.frontmatter.title || post.url}</a>
        </li>
      ))}
    </ul>
  </body>
</html>
