---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Ultranetic | Post-Darwinian Architecture</title>
	</head>
	<body class="cyber-grid">
		<div class="fixed inset-0 border-[20px] border-white/5 pointer-events-none z-40"></div>
		<div class="fixed top-0 left-0 w-full h-1 bg-ultranetic-blue/20 z-50"></div>
		
		<slot />
	</body>
</html>
